.mainbuttonstyle {
		background-color:#990033; 
		border:none;
		color: white;
		padding: 12px 24px;
		text-align: center;
		font-size: 15px;
		border-radius:8px;
		transition-duration: 0.2s;
	}
	.mainbuttonstyle:hover {
		background-color:#ffe6ee;
		color:#1a0008;
	}
	.logintextbox {
		width: 280px;
		height: 50px;
		padding: 10px 20px;
		margin: 8px 0;
		
		border:none;
		background-color:#f2f2f2;
		border-radius:20px;
		
	}

	.loginbox {
    width:600px;
    height:400px;
    background-color:white;
	border-radius:25px;
    position:fixed; 
	border: 1px solid white;
    top:19%;
    left:27%;
}
	.fonthead {
	font: 68px georgia, sans-serif;
	color: #0a290a;
	text-shadow: 2px 2px 5px #ff5050;
}
	.fontsmaller {
	font: 16px arial, sans-serif;
}
	.grad {
	background-color:#ff5050;
	background-image: linear-gradient(to bottom right, #ff5050, #cc0066); 
	margin: 0px;
}
	.readtable {
	background-color: white;
	width: 800px;
	height: 400px; 
	border-radius: 25px;
	position: fixed;
	top: 19%;
	left: 19%;
	border: 1px solid white;
}
